<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
  </head>

  <body>
    <!--
1. 计算属性
  在computed属性对象中定义计算属性的方法
  在页面中使用{{方法名}}来显示计算的结果
2. 监视属性:
  通过通过vm对象的$watch()或watch配置来监视指定的属性
  当属性变化时, 回调函数自动调用, 在函数内部进行计算
3. 计算属性高级:
  通过getter/setter实现对属性数据的显示和监视
  计算属性存在缓存, 多次读取只执行一次getter计算
-->
    <div id="app2">
      First Name :
      <input type="text" placeholder="FirstName" v-model="firstName" /><br />
      Last Name :
      <input type="text" placeholder="LastName" v-model="lastName" /><br />

      <!--fullName1是根據fistName和lastName計算產生出來的-->
      Full Name1 (computed, sens unique ) :
      <input type="text" placeholder="full Name1" v-model="fullName1" /><br />
      <!--fullName2是根據watch監看產生出來的-->
      Full Name2 (watch, deux sens) :
      <input type="text" placeholder="full Name" v-model="fullName2" /><br />
      Full Name3 (computed, deux sens) :
      <input type="text" placeholder="full Name2" v-model="fullName3" /><br />

      <p>firstName : {{ firstName }}</p>
      <p>lastName : {{ lastName }}</p>
      <p>fullName1 : {{ fullName1 }}</p>
      <p>fullName2 : {{ fullName2 }}</p>
      <p>fullName3 : {{ fullName3 }}</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

    <!-- <script src="../js/vue.js"></script> -->
  </body>
  <script>
    const vm = new Vue({
      el: '#app2',
      data: {
        firstName: 'A',
        lastName: 'B',
        fullName2: 'A-B'
      },
      // 計算屬性配置：值為物件
      computed: {
        // 什麼時候執行：初始化顯示/ 相關的data屬性資料發生變化
        // 計算並回傳目前屬性的值
        fullName1() {
          // 計算屬性中的一個方法，方法的回傳值作為屬性值
          return this.firstName + '-' + this.lastName;
        },

        fullName3: {
          // 自定義物件，有兩個callback 函式 get, set(value)
          // 什麼時候用？ 當需要讀取當前屬性時呼叫。
          // 用來做什麼？ 根據相關的資料計算並傳回當前屬性的值
          get() {
            return this.firstName + '-' + this.lastName;
          },
          // 什麼時候用？ 監視當前屬性的變化，當屬性值發生變化時呼叫。更新相關的資料屬性
          // 用來做什麼？ 根據相關的資料計算並傳回當前屬性的值
          set(value) {
            // value 是 fullName3 輸入的最新屬性值
            console.log('fullName3 set()', value);
            // 更新firstName和lastName
            const names = value.split('-');
            this.firstName = names[0];
            this.lastName = names[1];
          }
        }
      },

      // 寫在vm 實例的監聽，叫配置監聽，另一種監聽方法使用vm的方法
      watch: {
        // 要監聽哪個屬性？ 監聽變動時通知我們，使用callback 給我們最新的值
        firstName: function(value) {
          // firstName 發生了變化
          console.log('watch firstName', value);
          // 更新 fullName2
          this.fullName2 = value + '-' + this.lastName;
        }
        // lastName: function (value) {
        //   this.fullName2 = this.firstName + '-' + value
        // }
      }
    });
    // 實例的方法都是以 $ 開頭 第一參數監聽對象 第二參數callback函式
    vm.$watch('lastName', function(value) {
      console.log('watch lastName', value);
      // 更新 fullName2
      this.fullName2 = this.firstName + ' ' + value;
    });

    /*
  callback 函式需滿足三個條件：
  1.你定義的 2.你沒有呼叫 3.但最終它執行了
  callback 什麼時候用？ 呼叫函式的時候
  用來做什麼？ 計算並回傳當前屬性的值

  */
  </script>
</html>
