<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Input Bindings 表單輸入綁定</title>
  </head>

  <body>
    <div id="app">
      <form action="xxx" @submit.prevent="handleSubmit">
        <p><span>Name : </span><input type="text" v-model="name" /></p>
        <p>
          <span>Password : </span
          ><input type="password" name="pwd" v-model="pwd" />
        </p>
        <p>
          <span>Sex : </span>
          <input
            type="radio"
            name=""
            id="female"
            value="female"
            v-model="sex"
          />
          <label for="female">Femme</label>
          <input type="radio" name="" id="male" value="male" v-model="sex" />
          <label for="male">Home</label>
        </p>
        <p>
          <span>Hobby : </span>
          <input type="checkbox" value="travel" id="travel" v-model="hobbys" />
          <label for="travel">Travel</label>
          <input type="checkbox" value="cinema" id="cinema" v-model="hobbys" />
          <label for="cinema">Cinema</label>
          <input type="checkbox" value="food" id="food" v-model="hobbys" />
          <label for="food">Food</label>
          <input type="checkbox" value="sport" id="sport" v-model="hobbys" />
          <label for="sport">Sport</label>
        </p>
        <p>
          <span>City : </span>
          <!-- 動態顯示 -->
          <select name="city" v-model="cityId">
            <option value="">No selection</option>
            <!-- 如果直接寫value="city.id" 會被當成是字串，需加上冒號 :value="" 成為表達式 -->
            <option
              :value="city.id"
              v-for="(city, index) in citys"
              :key="city.id"
              >{{city.name}}</option
            >
          </select>
        </p>
        <p>
          <textarea
            name="info"
            cols="30"
            rows="10"
            placeholder="Self introduction"
            v-model="info"
          ></textarea>
        </p>
        <p>
          <input type="submit" value="register" />
        </p>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          name: '',
          pwd: '',
          sex: 'female', // 預設值是從 value 抓來的
          hobbys: ['travel'],
          citys: [
            {
              id: 1,
              name: 'Paris'
            },
            {
              id: 2,
              name: 'Taipei'
            },
            {
              id: 3,
              name: 'London'
            },
            {
              id: 4,
              name: 'Tainan'
            }
          ],
          cityId: '2',
          info: ''
        },
        methods: {
          handleSubmit() {
            console.log(
              this.name,
              this.pwd,
              this.sex,
              this.hobbys,
              this.cityId,
              this.info
            );
          }
        }
      });
    </script>
  </body>
</html>
