<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Template Syntax</title>
  </head>

  <body>
    <div id="app">
      <p v-html="msg"></p>

      <p>My name is {{ name }}</p>
      <p>{{ name.toUpperCase() }}</p>
      <p>{{ name.split('').reverse().join('') }}</p>
      <p>{{ isName ? `Your Name is ${name}` : `Name not good ou null` }}</p>
      <p v-bind:name="'list-' + name + sayHi"></p>

      <input v-model="name" placeholder="Write your name" />
      <img v-bind:src="imgUrl" alt="" />
      <button @click="showHi(sayHi)">click</button>
    </div>
    <hr />
    <div id="app2">
      <h1>Vue Mastery Courses</h1>
      <h2>{{product}}</h2>
      <!-- <p v-if="inStock">in Stock</p> -->
      <p v-if="inventory > 10">in Stock</p>
      <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
      <p v-else>Out of sold</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          name: 'Tracy',
          isName: true,
          msg: '<h2>Today is good day</h2>',
          imgUrl: 'https://cn.vuejs.org/images/logo.png',
          sayHi: 'Hi Paris'
        },
        methods: {
          showHi(sayHi) {
            alert(sayHi);
          }
        }
      });

      const vm2 = new Vue({
        el: '#app2',
        data: {
          product: 'Socks',
          // inStock: true,
          inventory: 0
        }
      });
    </script>
  </body>
</html>
