<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表渲染 List Rendering</title>
  </head>

  <body>
    <div id="app">
      <h2>測試 v-for 遍歷、讀取陣列</h2>
      <ul>
        <li v-for="(p, index) in persons" :key="index">
          {{ index }} --- {{p.name}} --- {{p.age}} --<button
            @click="deleteP(index)"
          >
            Delete
          </button>
          --
          <button @click="updateP(index, {name:'Fanny', age: 25})">
            Update
          </button>
        </li>
      </ul>
      -- <button @click="addP({name:'Tom', age: 3})">Add</button>

      <h2>測試 v-for 遍歷、讀取物件</h2>
      <ul>
        <!-- <li v-for="(value, key) in persons[1]" :key="key">{{value}} -- {{key}}</li> -->
        <li v-for="(value, key) in persons" :key="key">{{value}} -- {{key}}</li>
      </ul>
    </div>
    <hr />
    <div id="app2">
      <h1>Vue Mastery Courses</h1>
      <ul>
        <li v-for="detail in details">{{detail}}</li>
      </ul>
      <div v-for="product in products" :key="product.productId">
        <p>{{ product.productColor }}</p>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          persons: [
            {
              name: 'Ayda',
              age: 18
            },
            {
              name: 'Tracy',
              age: 24
            },
            {
              name: 'Philippe',
              age: 42
            }
          ]
        },
        methods: {
          deleteP(index) {
            this.persons.splice(index, 1);
          },
          updateP(index, newP) {
            // this.persons[index] = newP
            // 這樣的做法因為無原生陣列函式，所以在vue 不會起作用，也不會自動更新頁面
            // console.log(this.persons[index], newP)
            this.persons.splice(index, 1, newP);
          },
          addP(newP) {
            this.persons.push(newP);
          }
        }
      });
      const vm2 = new Vue({
        el: '#app2',
        data: {
          details: ['80% cotton', '20%polyester', 'Gender-neutral'],
          products: [
            {
              productId: 001,
              productColor: 'yellow'
            },
            {
              productId: 002,
              productColor: 'gris'
            }
          ]
        }
      });
    </script>
  </body>
</html>
