<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Mastery Courses</title>
    <style>
      .color-box {
        width: 40px;
        height: 40px;
        margin-top: 5px;
      }
      .product-image img{
        width: 200px;
      }
      .disabledButton{
        background-color: #d8d8d8;
      }
    </style>
  </head>
  <body>
    <!-- <h1>Vue Mastery</h1> -->
    <div id="app">
      <h1>{{ title }}</h1>
      <h2>{{brand}} {{product}}</h2>
      <div class="product-image">
        <img v-bind:src="image" alt="">
      </div>
      <div class="product-info">
      <p v-if="isStock">in Stock</p>
      <p v-if="inventory > 10">in Stock</p>
      <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
      <p v-else>Out of sold</p>

      <ul>
        <li v-for="detail in details">{{detail}}</li>
      </ul>
      <div
        v-for="product in products"
        :key="product.productId"
        class="color-box"
        :style="{backgroundColor:product.productColor}"
        @mouseover="updateProduct(product.productImage)"
      >
        <p>{{ product.productColor }}</p>
      </div>
    </div>
    
     <button v-on:click="addToCart" :disabled="!isStock"
    :class="{disabledButton: !isStock}">Add to Cart</button>  
 
<div class="cart">
  <!-- <p>Cart({{cart}})</p> -->
</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          brand:'Vue Mastery',
          product: 'Socks',
          image:'./images/T_red.jpg',
          isStock: true,
          inventory: 0,
          details: ['80% cotton', '20%polyester', 'Gender-neutral'],
          products: [
            {
              productId: 001,
              productColor: 'red'
            },
            {
              productId: 002,
              productColor: 'gray'
            }
          ],
          cart:0
        },
        methods: {
          addToCart(){
            this.cart += 1
          },
          updateProduct(productImage){
            this.image=productImage
          }
        },
        computed: {
          title(){
            return this.brand + ' ' + this.product
          }
        },
      });
    </script>

    <!-- note 
綁定style的方式有以下幾種
第一種:
<h1 :style="{color:color}">...</h1>
<p :style="{fontSize:fontSize}">...</p>
<script>
      data: {
        color: 'reg';
        fontSize:'13px'
      }
    </script>
    ------------
    第二種，以物件的方式
    <span :style="styleObject">...</span>
    <script>
      data: {
        styleObject: {
          color: 'reg';
          fontSize: '13px';
        }
      }
    </script>
    ------------
    第三種，以陣列的方式

    <p :style="[styleObject,styleObject2]">...</p>
    <script>
      data:{
        styleObject: {
              color: 'reg',
              fontSize: '13px'
            }
            styleObject2: {
              margin: '5px',
              padding: '20px'
            }
      }

      Class Bindings 樣式類別綁定
    <div class="color-box"
      :class="{active: activeClass, 'text-danger': errorClass}">...
      
    </div>
    <script>
      data:{
        activeClass:true,
        errorClass:false,
      }
    </script>

    物件方式
     <div class="classObject">...</div>
    <script>
      data:{
        classObject:{
          active:true,
          danger:false,
        }
      }
    </script>
 陣列方式
     <div class="[classObject, errorClass]">...</div>
    <script>
      data:{
        activeClass:'active',
        errorClass: 'text-danger',
        }
      }
    </script>

    條件式
     <div class="[isActive ? activeClass : '']">...</div>
    <script>
      data:{
        isActive:true,
        activeClass:'active',
        }
      }
    </script>

Git 
另一種合併方式：rebase = 重新回復到原本的主線，但是會把原本的分支移到指定的點上。「重新定義分支的參考基準」
ex:
ex.有兩條從master分出來的分支：cat, dog，如果已經在cat分支上執行`git rebase dog`，那 cat的起始點就會接到dog去，而離開master, 如移花接木般的整條cat分支都移到dog這條分支上。
回復到上一步 `git reset HEAD^ --hard`

如何取消 rebase ?

可使用reflog 來觀察原本的合併點是從哪裡剪的，取得rebase前一版的[版本碼] 後，執行`git reset [版本碼] --hard` 就可回復到rebase之前的狀態。

回復可使用另一個更方便的指令：`git reset ORIG_HEAD --hard`它會幫我們回復到原來的HEAD

使用rebase的時機？
使用rebase來合併分支的好處是不會產生一個額外的commit節點
      
如果要修改歷史，勁量不要去改已經推去(push)的歷史，因為會對其他人造成困擾。非必要不要使用rebase這個指令去修改已經推出去的歷史。
-->

    </script>

  </body>
</html>
